<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.youxu.shop.mapper.OrderMapper">

    <resultMap id="OrderDTO" type="cn.youxu.shop.entity.OrderDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="staff_number" property="staffNumber" jdbcType="VARCHAR"/>
        <result column="staff_number_name" property="staffNumberName" jdbcType="VARCHAR"/>
        <result column="trade_id" property="tradeId" jdbcType="INTEGER"/>
        <result column="trade_id_name" property="tradeName" jdbcType="VARCHAR"/>
        <result column="creation_time" property="creationTime" jdbcType="VARCHAR"/>
        <result column="supplier_address" property="supplierAddress" jdbcType="VARCHAR"/>
        <result column="logistics_order_no" property="logisticsOrderNo" jdbcType="VARCHAR"/>
        <result column="order_user_count" property="orderUserCount" jdbcType="INTEGER"/>
        <result column="order_money" property="orderMoney" jdbcType="DECIMAL"/>
        <result column="order_type" property="type" jdbcType="INTEGER"/>
        <result column="order_type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="order_count" property="orderCount" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="OrderItemDTO" type="cn.youxu.shop.entity.OrderItemDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="order_item_no" property="orderItemNo" jdbcType="VARCHAR"/>
        <result column="order_user" property="orderUser" jdbcType="INTEGER"/>
        <result column="order_user_name" property="orderUserName" jdbcType="VARCHAR"/>
        <result column="order_count" property="orderCount" jdbcType="INTEGER"/>
        <result column="order_pay_amount" property="orderPayAmount" jdbcType="DECIMAL"/>
        <result column="order_sum_amount" property="orderSumAmount" jdbcType="DECIMAL"/>
        <result column="order_coupon_id" property="orderCouponId" jdbcType="INTEGER"/>
        <result column="order_coupon_name" property="orderCouponName" jdbcType="VARCHAR"/>
        <result column="pay_time" property="payTime" jdbcType="VARCHAR"/>
        <result column="order_item_type" property="orderItemType" jdbcType="INTEGER"/>
        <result column="order_item_name" property="orderItemName" jdbcType="VARCHAR"/>
        <result column="place_time" property="placeTime" jdbcType="VARCHAR"/>
        <result column="shipp_way" property="shippWay" jdbcType="INTEGER"/>
        <result column="is_deleted" property="isDeleted" jdbcType="INTEGER"/>
        <result column="shipp_way_name" property="shippWayName" jdbcType="VARCHAR"/>
        <result column="pay_way" property="payWay" jdbcType="INTEGER"/>
        <result column="pay_way_name" property="payWayName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="OrderAssessDTO" type="cn.youxu.shop.entity.OrderAssessDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="order_item_no" property="orderItemNo" jdbcType="VARCHAR"/>
        <result column="evaluator_name" property="evaluatorName" jdbcType="VARCHAR"/>
        <result column="result" property="result" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="evaluator_id" property="evaluatorId" jdbcType="INTEGER"/>
        <result column="star_rating" property="starRating" jdbcType="INTEGER"/>
        <result column="evaluator_time" property="evaluatorTime" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="OrderDeliveryDTO" type="cn.youxu.shop.entity.OrderDeliveryDTO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="delivery_man" property="deliveryMan" jdbcType="VARCHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="commission_way" property="commissionWay" jdbcType="INTEGER"/>
        <result column="commission_way_name" property="commissionWayName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getOrderList" resultMap="OrderDTO">
        SELECT go.id,gt.trade_job_number as staff_number,gt.trade_name as trade_id_name,gs.name as staff_number_name,
        go.order_no,go.trade_id,go.creation_time,go.supplier_address,go.logistics_order_no,
        go.order_user_count,go.order_money,go.order_type,go.order_count,d.describe as order_type_name
        FROM group_order go
        LEFT JOIN group_trade gt ON go.trade_id = gt.id
        LEFT JOIN group_staff gs ON gt.trade_job_number = gs.job_number
        LEFT JOIN dictionary d ON d.colum = 'order_type' AND d.sense = go.order_type
        <where>
            <if test="type != null">
                AND go.order_type = #{type}
            </if>
            <if test="orderNo != null and orderNo != ''">
                AND go.order_no = #{orderNo}
            </if>
            <if test="staffNumber != null and staffNumber != ''">
                AND gs.job_number = #{staffNumber}
            </if>
            <if test="tradeId != null">
                AND go.trade_id = #{tradeId}
            </if>
            <if test="logisticsOrderNo != null and logisticsOrderNo != ''">
                AND go.logistics_order_no = #{logisticsOrderNo}
            </if>
            <if test="beginCreationTime != null and beginCreationTime != ''">
                AND go.creation_time &gt; #{beginCreationTime}
            </if>
            <if test="endCreationTime != null and endCreationTime != ''">
                AND go.creation_time &lt; #{endCreationTime}
            </if>
            AND go.is_deleted = 0
        </where>
        order by go.creation_time desc
    </select>

    <select id="getOrderByOrderNo" resultMap="OrderDTO">
        SELECT order_type,order_no FROM group_order
        <where>
            <if test="orderNo != null and orderNo != ''">
                AND order_no = #{orderNo}
            </if>
            AND is_deleted = 0
        </where>
    </select>

    <update id="updateTypeByOrderNo">
        UPDATE group_order SET order_type =  #{orderType}
        WHERE order_no = #{orderNo} AND is_deleted = 0
        AND exists(
                select id from (
                    select id from group_order WHERE order_no = #{orderNo} AND order_type = #{afterOrderType}
                    ) gs
            )
    </update>

    <select id="selectByOrderNo" resultMap="OrderDTO">
        SELECT order_no FROM group_order
        WHERE order_no IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.orderNo}
        </foreach>
    </select>

    <update id="updateLogisticsOrderNo">
        UPDATE group_order
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="logistics_order_no =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.logisticsOrderNo!=null and item.logisticsOrderNo != ''">
                        when order_no=#{item.orderNo}
                        and is_deleted=0
                        then #{item.logisticsOrderNo}
                    </if>
                </foreach>
            </trim>
        </trim>
        where order_no in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.orderNo}
        </foreach>
    </update>

    <select id="getOrderItemList" resultMap="OrderItemDTO">
        SELECT goi.id,goi.order_no,goi.order_item_no,goi.order_user,
        goi.order_count,goi.order_pay_amount,goi.order_sum_amount,goi.order_coupon_id,
        gc.coupon_name as order_coupon_name,goi.pay_time,goi.order_item_type,d.describe as order_item_name,
        goi.place_time,goi.shipp_way,d1.describe as shipp_way_name,goi.pay_way,d2.describe as pay_way_name,
        gu.user_name as order_user_name
        FROM group_order_item goi
        LEFT JOIN group_coupon gc ON goi.order_coupon_id = gc.id
        LEFT JOIN dictionary d ON d.colum = 'order_item_type' AND d.sense = goi.order_item_type
        LEFT JOIN dictionary d1 ON d1.colum = 'shipp_way' AND d1.sense = goi.shipp_way
        LEFT JOIN dictionary d2 ON d2.colum = 'pay_way' AND d2.sense = goi.pay_way
        LEFT JOIN group_user gu ON goi.order_user = gu.user_number
        <where>
            <if test="orderNo != null and orderNo != ''">
               AND goi.order_no = #{orderNo}
            </if>
            <if test="orderItemNo != null and orderItemNo != ''">
                AND goi.order_item_no = #{orderItemNo}
            </if>
            <if test="orderUser != null">
                AND goi.order_user = #{orderUser}
            </if>
            <if test="orderItemType != null">
                AND goi.order_item_type = #{orderItemType}
            </if>
            <if test="shippWay != null">
                AND goi.shipp_way = #{shippWay}
            </if>
            <if test="payWay != null">
                AND goi.pay_way = #{payWay}
            </if>
            <if test="timeWay != null and timeWay == 0">
                <if test="beginCreationTime != null and beginCreationTime != ''">
                    AND goi.pay_time &gt; #{beginCreationTime}
                </if>
                <if test="endCreationTime != null and endCreationTime != ''">
                    AND goi.pay_time &lt; #{endCreationTime}
                </if>
            </if>
            <if test="timeWay != null and timeWay == 1">
                <if test="beginCreationTime != null and beginCreationTime != ''">
                    AND goi.place_time &gt; #{beginCreationTime}
                </if>
                <if test="endCreationTime != null and endCreationTime != ''">
                    AND goi.place_time &lt; #{endCreationTime}
                </if>
            </if>
            <if test="orderNo != null and orderNo != ''">
                AND goi.order_no = #{orderNo}
            </if>
            and goi.is_deleted = 0
        </where>
    </select>

    <select id="getOrderAssessList" resultMap="OrderAssessDTO">
       SELECT ga.id,ga.order_item_no,ga.evaluator_id,gu.user_name as evaluator_name,
       ga.result,ga.content,ga.star_rating,ga.type,ga.evaluator_time,d.describe as type_name
       FROM group_assess ga
       LEFT JOIN group_user gu ON ga.evaluator_id = gu.user_number
       LEFT JOIN dictionary d ON d.colum = 'assess_type' AND d.sense = ga.type
       <where>
           <if test="orderItemNo != null and orderItemNo != ''">
               AND ga.order_item_no = #{orderItemNo}
           </if>
           <if test="evaluatorId != null">
               AND ga.evaluator_id = #{evaluatorId}
           </if>
           <if test="starRating != null and starRating != 0">
               AND ga.star_rating = #{starRating}
           </if>
           <if test="type != null">
               AND ga.type = #{type}
           </if>
           <if test="beginCreationTime != null and beginCreationTime != ''">
               AND ga.evaluator_time &gt; #{beginCreationTime}
           </if>
           <if test="endCreationTime != null and endCreationTime != ''">
               AND ga.evaluator_time &lt; #{endCreationTime}
           </if>
           AND ga.is_deleted = 0
       </where>
       order by ga.star_rating desc
    </select>

    <update id="updateAssessTypeById" parameterType="cn.youxu.shop.entity.OrderAssessDTO">
        UPDATE group_assess SET type = 1,result = #{orderAssessDTO.result}
        WHERE id = #{orderAssessDTO.id}
    </update>

    <select id="getOrderDeliveryList" resultMap="OrderDeliveryDTO">
         SELECT gd.id,gd.delivery_man,gd.order_no,gd.commission_way,gd.phone,gd.type,
         d.describe as type_name ,d1.describe as commission_way_name
         FROM group_delivery gd
         LEFT JOIN dictionary d ON d.colum = 'delivery_type' AND d.sense = gd.type
         LEFT JOIN dictionary d1 ON d1.colum = 'commission_way' AND d1.sense = gd.commission_way
         <where>
             <if test="orderItemNo != null and orderItemNo != ''">
                AND gd.order_no = #{orderItemNo}
             </if>
             AND gd.is_deleted = 0
         </where>
    </select>

    <select id="getOrderListByDay" resultMap="OrderDTO">
        SELECT DATE_FORMAT(go.creation_time,"%Y-%m-%d") as creation_time,
        SUM(go.order_user_count) as order_user_count ,SUM(go.order_money) as order_money,
        SUM(go.order_count) as order_count
        FROM group_order go
        WHERE go.is_deleted = 0
        GROUP BY DATE_FORMAT(go.creation_time,"%Y-%m-%d")
        order by creation_time desc
    </select>
</mapper>