server:
  port: 8888

spring:
  application:
    name: youxu-wepy-shop
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql:///group_shop?serverTimezone=Asia/Shanghai&characterEncoding=utf-8
    username: root
    password: admin

#mybatis的相关配置
mybatis:
  #mapper配置文件
  mapper-locations: classpath:mapper/*.xml
  #开启驼峰命名
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    cn.youxu.wepy.shop.mapper: DEBUG